# application 
NODE_ENV=development
PORT=3000

# database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_POOL_MAX=20
DB_POOL_MIN=5

# redis 
REDIS_URL=redis://localhost:6379

# JWT AUTH
JWT_SECRET=
JWT_EXPIRATION=7d

# GOOGLE CLOUD CREDENTIALS 
GOOGLE_APPLICATION_CREDENTIALS=

